.App {
  text-align: center;
  background-color: black;
  height: 100vh;
}

h1 {
  color: lightgray;
  margin: 0;
}

.Title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
