.App {
  text-align: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url('echolight-2.jpg');
  background-size: cover;
}

h1 {
  color: lightgray;
}

.Title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
